body {
    background: rgb(180, 121, 240);
    font: normal 15pt arial;
}

header {
    color: rgb(0, 0, 0);
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    /*deixar um espaço dentro */
    padding: 10px;
    /*lagura na tela */
    width: 500px;
    /*para centralizar*/
    margin: auto;
    /*sombra: descolamento lateral, vertical, espalhamento, e a cor */
    box-shadow: 5px 5px 10px black;
}

footer {
    color: rgb(0, 0, 0), 29, 28);
    text-align: center;
    font: italic;
}